<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleAdd.css">
    <title>artist</title>
</head>
<body>
    <div class="heroes">
        <div>
        <img src="{{data.photo}}" alt="">
        </div>
       <div><h1>{{data.name}} </h1></div>
    
        <span><a href="/edit/{{data.id}}">Edit</a></span>
        <span><a href="/delete/{{data.id}}">Delete</a></span>
    </div>
       
  
            
           

       

    
</body>

</html>